body {
    font-family: "Playwrite NG Modern", cursive;
    font-weight: 400;
    font-style: normal;
    color: purple;
    background-color: gainsboro;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #bbbbbb;
    padding: 20px 0; 
}

.container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: 36;
    font-weight: 400;
    font-style: italic;
}

.image {
    height: 500px;
    width: auto;
    max-height: 100%;
    object-fit: contain;
    margin-right: 50px; 
}

.text {
    font-size: 36px;
    color: purple;
    margin: 0;
}

nav {
    display: flex;
    justify-content:center;
    flex-grow: 1;
    margin-right: 20px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: purple;
    text-decoration: underline;
}



/*main Home*/

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:gainsboro;
}

.product-section, .form-section {
    flex: 1;
    margin: 0 20px;
}

.product-section {
    flex: 2;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 25px;
}
.product-card {
    background-color: white;
    width: 200px; /* Ancho fijo para la tarjeta */
    height: 300px; /* Alto fijo para la tarjeta */
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.product-card .product-image {
    width: 100%;
    height: 70%; /* Ajusta según sea necesario */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
    margin-bottom: 10px;
}


.product-card p {
    margin: 5px 0; 
    font-size: 16px; 
}

.product-card:hover{
    transform:scale(1.2) ;
}

.delete-button {
    position:static;/*ABSOLUTE*/
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button img {
    width: 50px; /* Tamaño del ícono */
    height: auto;
}

.no-products {
    text-align: center;
    font-size: 24px;
    color: purple;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
}

form button {
    background-color:plum;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:purple;
}
 /*style contacto*/

 .form-container {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color:snow;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin:0 0 10px
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding:10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
    background:plum;
    border: none;
    border-radius:5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: purple;
    transform:scale(1.2) ;
}

/*ambos styles*/
footer{
    text-align: center;
    background:#bbbbbb;
    padding: 30px;
    width: 100%;
    height: auto;
}



/* Mobile devices (up to 600px) */

/*flex Home y Contacto*/
@media (max-width: 600px) {
    .container, .main-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-text {
        flex-direction:row;
        text-align: center;
    }

    .image {
        height: 200px; /* Adjust as needed */
        margin-right: 0;
        
    }
 

   /* Estilo para dispositivos móviles (hamburguesa) */

    .hamburger-menu {
        display: flex;
        align-items: center;
    }

    .main-menu {
        display: none; /* Ocultar el menú principal */
    }

    .btn-hamburger {
        font-size: 24px;
        background: none;
        border:#000000;
        cursor: pointer;
    }

    .menu {
        display: none;
        position: absolute;
        top: 80px; /* Ajusta según tu diseño */
        left: 0;
        width: 100%;
        background-color: #bbbbbb;
        padding: 10px 0;
        text-align: center;
    }

    .menu ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu a {
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }

    .menu a:hover {
        color: purple;
        text-decoration: underline;
    }

    /* Mostrar el menú al hacer clic en el botón hamburguesa */
    .menu.active {
        display: block;
    }

  /*flex Home*/

    .main-container {
        padding: 10px;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .input-padron, .enviar {
        width: 100%;
    }

    .form-container {
        width: 90%;
        padding: 10px;
    }

    .form-section h2{
        font-size: 20px;
        padding-top: 15px;;
    }
}
/*flex contacto*/

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px; /* Ajustado para dispositivos móviles */
    width: 100%; /* Para ocupar el ancho completo en dispositivos móviles */
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}
   
.enviar{
    width: 100%;
}

/* Tablet devices (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .image {
        height: 300px; /* Adjust as needed */
    }

  
    .btn-hamburger{
        display: none;
    }

    .form-container {
        width: 80%;
    }

    /*flex contacto*/
    .input-padron {
        width: 50%; /* Ancho ajustado para tabletas */
        padding: 10px 25px;
    }

    .enviar {
        width: 40%; /* Ancho reducido para tabletas */
    }
}



/*flex Contacto*/


/* Desktop devices (over 900px) */
@media (min-width: 901px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .btn-hamburger{
        display: none;
    }

   
    .form-container {
        max-width: 800px;
    }
    /*flex Contacto*/
    .form-container {
        padding: 40px;
    }

    .input-padron {
        width: 50%; /* Ancho ajustado para pantallas grandes */
        padding: 10px 25px;
    }

    .enviar {
        width: auto; /* Ancho automático para ordenadores */
    }
}